<template>
  <nav class="nav">
    <div class="nav-center">
      <a class="brand">Sysody dashboard</a>
    </div>
  </nav>
</template>

<script>
export default {
name: "Navbar"
}
</script>

<style>
.nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  background-color: whitesmoke;
}
</style>