<template>
  <div class="card">
    <span class="columns">
      <h4><a :href="app.Link">{{app.Name}}</a></h4>
      <a :title="app.StatusDesc" :class="{status: true, ok: app.Status, nok: !app.Status, animate: loading}" @click="refresh">
      </a>
    </span>
    <span class="columns">
      <i>{{app.Desc}}</i>
      <arrow-down-icon :class="{transition: true, upsidedown: statsView}" size="1.2x" @click="switchDetails()"></arrow-down-icon>
    </span>
    <transition name="stats">
    <p :class="{stats: true, open: statsView, transition: true}">
      <span v-if="statsView">
            Downtime today: {{readableDuration(downtime.Today)}}
        </span>
    </p>
    </transition>
  </div>
</template>

<script>
import { ArrowDownIcon } from 'vue-feather-icons'
export default {
  name: "Service",
  components: {
    ArrowDownIcon
  },
  props: {
    app: Object
  },
  data(){
    return{
      loading: false,
      statsView: false,
      downtime: {}

    }
  },
  methods: {
    refresh(){
      this.loading = true
      fetch("/api/getStatus?server="+this.app.ID).then((res)=>{
        res.json().then((data) => (this.app = data))
        setTimeout(() => this.loading = false, 400)
      })
    },
    switchDetails(){
      if (this.statsView) {
        this.statsView = false
        return
      }
      fetch("/api/getDowntime?server="+this.app.ID).then((res)=>{
        res.json().then((data) => {
          console.log("data:"+data)
          this.downtime = data
          this.statsView = true
        })
      })
    },
    readableDuration(d){
      if (!d){
        return ""
      }
      d=d/864000000000000
      if (d==0){
        return "/"
      }
      return this.durationToString(d, [[1,"day"],[24,"hour"],[60,"minute"],[60,"seconds"], [1000, "ms"]])

    },
    durationToString(d, units){
      d=d*units[0][0]
      console.log(d, units)
      if (d > 1) {
        return `${Math.floor(d)} ${units[0][1]} and ${Math.floor(d%1*units[1][0])} ${units[1][1]}`
      }
      return this.durationToString(d, units.slice(1))
    }
  }
}
</script>

<style scoped>
.card {
  margin: 8px;
  width: 25rem;
}

.status {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  transition: all 0.4s;
}

@keyframes animatebutton {
  from {
    box-shadow: 0 0 2px gray;
  }
  to {
    box-shadow: 0 0 6px 2px gray;
  }
}

.ok {
  background-color: green;
  box-shadow: 0 0 2px green;
}

.nok {
  background-color: red;
  box-shadow: 0 0 2px red;
}

.animate {
  animation-duration: 0.2s;
  animation-name: animatebutton;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: gray;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upsidedown {
  transform: rotate(180deg);
}

.transition {
  transition: all .4s;
}

.stats {
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}

.stats.open {
  max-height: 2rem;
}
.stats-leave-active {
  transition: all .5s;
}
</style>