<template>
  <div class="grid">
    <Service v-for="app in apps" :key="app.name" :app="app"></Service>
  </div>
</template>

<script>
import Service from "@/components/Service";
export default {
  name: "AppGrid",
  components: {
    Service
  },
  props: {
    apps: Array
  },
  mounted() {
  }
}
</script>

<style scoped>
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
</style>