<template>
  <div id="app">
    <navbar></navbar>
    <br>
    <main class="container">
      <ServiceGrid :apps="apps"></ServiceGrid>
    </main>
    <font-awesome-icon icon="child" size="4x"></font-awesome-icon>

  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import ServiceGrid from "@/components/ServiceGrid";

export default {
  name: 'App',
  components: {
    Navbar,
    ServiceGrid
  },
  data() {
    return {
      apps: [],
      polling: null,
      io: null
    }
  },
  created(){
    this.pollData()
    this.polling = setInterval(this.pollData, 360000)
  },
  methods: {
    pollData(){
      fetch("/api/getStatus?server=all").then((res)=>{
        res.json().then((data) => (this.apps = data))
      })
    }
  }
}
</script>
